<?xml version="1.0" encoding="utf-8"?>
<ConnectionsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><AnnounceJoinLeave>true</AnnounceJoinLeave><CaptureIp>true</CaptureIp><GeoLookup>true</GeoLookup><AltDetection>true</AltDetection><WatchlistAlerts>true</WatchlistAlerts><Watchlist /></ConnectionsConfig>
