<?xml version="1.0" encoding="utf-8"?>
<BroadcastConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><Author>Server</Author><Font>Blue</Font><MotdEnabled>true</MotdEnabled><MotdDelaySeconds>5</MotdDelaySeconds><EventMotd /><EventMotdExpiresUtc xsi:nil="true" /><MotdLines><string>Welcome to {server}, {player}!</string><string>Type !ov help for commands. Be kind and have fun.</string></MotdLines><AnnouncementsEnabled>false</AnnouncementsEnabled><AnnouncementIntervalSeconds>900</AnnouncementIntervalSeconds><Announcements><string>Remember to vote for the server for rewards!</string><string>Join our Discord for support and events.</string></Announcements><JoinLeaveMessages>false</JoinLeaveMessages></BroadcastConfig>
